.layer-toggle {
  margin: 0.4rem 1rem;
  white-space: nowrap;
}
.layer-toggle * {
  user-select: none;
}
.layer-toggle label {
  cursor: pointer;
  font-size: 1.1rem;
  color: white;
  margin: 0.4rem;
}
.layer-toggle .layer-checkbox {
  display: inline-block;
  position: relative;
  height: 1rem;
  width: 1rem;
  margin: 0;
  margin-right: 0.6rem;
}
.layer-toggle input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  cursor: pointer;
  content: " ";
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 0.2rem;
  transition-duration: 0.1s;
}

.layer-toggle input[type=checkbox].line.ClassI[checked] {
  background-color: var(--class1-color);
}

.layer-toggle input[type=checkbox].line.ClassII[checked] {
  background-color: var(--class2-color);
}

.layer-toggle input[type=checkbox].line.ClassIII[checked] {
  background-color: var(--class3-color);
}

.layer-toggle input[type=checkbox].line.Trail[checked] {
  background-color: var(--trails-color);
}

.layer-toggle input[type=checkbox].line[checked] {
  --line-height: 0.5rem;
  height: var(--line-height);
  width: 160%;
  border-radius: 0.2rem;
  background-color: #fff;
}

.layer-toggle input[type=checkbox].icon[checked] {
  background-color: rgb(76, 146, 250);
}
