.layer-toggle {
  margin: 0.4rem 1rem;
  white-space: nowrap;
  * {
    user-select: none;
  }
  label {
    cursor: pointer;
    font-size: 1.1rem;
    color: white;
    margin: 0.4rem;
  }
  input[type=checkbox] {
    position: relative;
    visibility: hidden;
    cursor: pointer;

    margin: 0;
    margin-right: 0.5rem;

    &::before {
      content: " ";
      position: absolute;
      visibility: visible;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
      background-color: #fff;
    }

    &.line{

      &.ClassI[checked]::before {
        background-color: var(--class1-color);
      }

      &.ClassII[checked]::before {
        background-color: var(--class2-color);
      }

      &.ClassIII[checked]::before {
        background-color: var(--class3-color);
      }

      &.Trail[checked]::before {
        background-color: var(--trails-color);
      }

      &::before {
        height: 0.3rem;
        width: 160%;
        border-radius: 0.2rem;
        background-color: #fff;
      }
    }

    &.icon{

      &[checked]::before {
        background-color: rgb(76, 146, 250);
      }

      &::before {
        border-radius: 0.2rem;
        background-color: #fff;
      }
    }
  }
}
