.sidebar {
  width: fit-content;
  background-color: #3D3B0A;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  .summary {
    min-width: 275px;
    max-width: 20vw;
    margin: 10px;
    color: white;
  }
}

.logo {
  text-align: center;
  margin: 5px 0;
}

.layers {
  label {
    font-size: 1.1em;
    color: white;
    margin: 5px;
  }
  h3 {
    color: white;
    margin: 5px;
  }
  div {
    margin: 5px 20px;
  }
}