.sidebar {
  display:block;
  width: fit-content;
  max-width: 1000px;
  background-color: #3D3B0A;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
}
.sidebar.hidden {
  max-width: 0;
  padding: 0;
}

.logo {
  text-align: center;
  margin: 0.4rem 0;
}

.sidebar .summary {
  min-width: 15rem;
  max-width: 15vw;
  margin: 10px;
  color: white;
}

h4 {
  margin: .6rem .6rem 0 .6rem;
  color: white;
}