.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  /* border: 1px solid green; */
}

.mapboxgl-map {
  
  /* border: 1px solid red; */
}

.mapboxgl-popup-content {
  padding: 8px;
  background: #e9e9e9;
  color: #3d380e;
  /* border: 1px solid #3d380e; */
  box-shadow: 3px 3px 10px rgb(128, 128, 128);
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #e9e9e9;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip{
  border-bottom-color: #e9e9e9 ;
}

.mapboxgl-popup-content h3 {
  text-decoration: underline;
  margin: 0 0 4px 0;
  padding: 0;
}

.mapboxgl-popup-content p {
  margin: 0;
  padding: 0;
}

.mapboxgl-popup-content a {
  text-decoration: none;
  font-style: italic;
  color: #3d380e;
}

.sidebar {
  width: 20%;
  background-color: #3D3B0A;
  overflow: scroll;
  max-height: 100vh;
  /* border: 1px solid red; */
}

.sidebar p {
  margin: 10px;
  color: white;
}

.logo {
  /* border: 1px solid white; */
  text-align: center;
  margin: 5px 0;
  /* width: 50%; */
  /* background-image: url("../public/images/logo.png"); */
}

.layers {
  padding: 10px;
}

.layers label {
  font-size: 1.2em;
  color: white;
  margin: 5px;
}

.layers h3 {
  color: white;
  margin: 5px;
}

.layers div {
  margin: 5px 20px;
  /* border: 1px solid red; */
}