:root {
  --class1-color: #2fa021;
  --class2-color: #103ca1;
  --class3-color: #fa8807;
  --trails-color: #baa77c;
  --advanced-color: #871f1f;
  --intermediate-color: #2b47a1;
  --family-color: green;
  --official-color: black;
  --alternative-color: gray;
}

body a {
  text-decoration: none;
  color:white
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #e9e9e9;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip{
  border-bottom-color: #e9e9e9 ;
}

.mapboxgl-popup-content {
  padding: 0.5rem;
  background: #e9e9e9;
  color: #3d380e;
  box-shadow: 0.2rem 0.2rem 0.6rem rgb(128, 128, 128);
}
.mapboxgl-popup-content h3 {
  text-decoration: underline;
  margin: 0 0 0.3rem 0;
  padding: 0;
}

.mapboxgl-popup-content p {
  margin: 0;
  padding: 0;
}

.mapboxgl-popup-content a {
  text-decoration: none;
  font-style: italic;
  color: #3d380e;
}
